body {
  font-family: Arial;
  background: #f2f2f2;
}
.card {
  background: white;
  padding: 20px;
  width: 400px;
  margin: 100px auto;
  border-radius: 10px;
}
textarea {
  width: 100%;
  height: 100px;
}
button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}
